.seller-transaction-container {
  position: absolute;
  width: 84%;
  top: 9%;
  left: 16%;
  /* margin-left: 20%; */
  padding: 20px;
  /* background-color: gray; */
  /* border-radius: 12px; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.seller-transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.seller-download-btn {
  padding: 8px 14px;
  background-color: #e36a6a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 30%;
}

.seller-download-btn:hover {
  background-color: #c25454;
}

.seller-transaction-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.seller-transaction-table th,
.seller-transaction-table td {
  width: 25%;
  padding: 12px;
  border: 1px solid #e0e0e0;
  text-align: center;
  word-wrap: break-word;
}

.seller-transaction-table th {
  background-color: #fff0ee;
  cursor: pointer;
}

.seller-pagination {
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.seller-pagination button {
  padding: 6px 12px;
  margin: 0 6px;
  background-color: #f78f8f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.seller-pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}