.laptop-seller-products-container {
  /* background-color: yellow; */
  width: 82%;
  margin-left: 18%;
  margin-top: 9%;
  /* height: calc(100vh - 38px); */
  overflow-y: auto;
  box-sizing: border-box;
}

.laptop-category-grid {
  display: flex;
  
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 8px;
  margin-bottom: 10px;
  /* background-color: gray; */
  width: 80%;
  padding: 10px;
  margin-left: 5px;
  padding-bottom: 20px;
  position: fixed;
  top: 70px;
}

.laptop-seller-nav-btn {
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #e9655e;
  color: #e9655e;
  width: 40%;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  transition: 0.3s ease;
}

.laptop-seller-nav-btn.laptop-active {
  background-color: #e9655e;
  color: #fff;
  font-weight: bold;
}

.laptop-seller-nav-btn:hover {
  background-color: #e97670;
  color: white;
}

.laptop-search-bar {
  padding: 8px;
  width: 50%;
  border: 1px solid #e9655e;
  border-radius: 5px;
  margin-left: 1%;
  color: #e9655e;
  position: fixed;
  background-color: white;
  top: 145px;
}

.laptop-products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 10px;
  margin-top: 50px;
  /* background-color: greenyellow; */
}

.laptop-product-card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.laptop-product-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}
.laptop-card-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.laptop-card-actions button {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.laptop-edit-btn {
  width: 40%;
  background-color: #357edd;
}

.laptop-delete-btn {
  width: 40%;
  background-color: #d9534f;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  /* margin-top: 5%; */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.flex-edit-model{
  display: flex;
  justify-content: space-between;
}

.editable-content{
  width: 68%;
  margin-left: 2%;
}

.modal-content {
  background: white;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.modal-img {
  width: 30%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.edit-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
  gap: 10px;
}

.edit-input label {
  flex: 0 0 100px;
  font-weight: 500;
}

.edit-input input,
.edit-input textarea, .edit-input select {
  flex: 1;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-btns {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.modal-btns button {
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
}

.modal-btns .cancel-btn {
  background-color: #999;
  color: white;
}

.modal-btns button:first-child {
  background-color: #b63e2b;
  color: white;
}
