.resell-main {
  background-color: whitesmoke;
  padding-top: 2%;
}
.resell-main h3 {
  /* background-color: gray; */
  width: 25%;
  margin-left: 3%;
  /* padding-top: 2%; */
  color: #b63e2b;
  /* border: 1px solid #b63e2b; */
  border-radius: 20px 4px 20px 4px;
  text-align: center;
  padding: 10px 15px;
  border-bottom: 4px solid #b63e2b;
  border-left: 1px solid #b63e2b;
  border-top: 1px solid #b63e2b;
  border-right: 4px solid #b63e2b;
  margin-bottom: 1%;
}
.resell-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.resell-heading {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2%;
  color: #333;
}

.resell-card {
  display: flex;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.resell-card img {
  width: 150px;
  object-fit: cover;
}

.resell-details {
  padding: 1rem;
  flex: 1;
}

.resell-btn {
  border: 1px solid #b63e2b;
  background-color: white;
  color: #b63e2b;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  width: 25%;
  transition: background-color 0.3s, color 0.3s;
  font-size: medium;
  font-weight: bold;
}
.resell-btn:hover {
  background-color: #b63e2b;
  color: white;
  font-weight: bold;
  
}

.resell-status {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-weight: bold;
}
.resell-status:hover {
  background-color: #dedede;
}
.view-status {
  border: 1px solid #b63e2b;
  background-color: white;
  color: #b63e2b;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  width: 40%;
  transition: background-color 0.3s, color 0.3s;
  font-size: medium;
  font-weight: bold;
}

.view-status:hover {
  background-color: #b63e2b;
  color: white;
  font-weight: bold;
}